<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title>Resetting TODO Widget</title>
</head>
<body>
	<div id='checkboxes'>
		<form>
			{% for i in range(0, len) %}
				<input id="item{{ [i] }}" type="checkbox">
				<label for="item{{ [i] }}">{{ checkboxes[i] }}</label><br/>
			{% endfor %}
		</form>
	</div>

	<script>
		var items = document.getElementsByTagName("INPUT");
		var midnight = "00:00:00";
		var now = null;

		function resetBoxes() {
			for (var i = 0; i < items.length; i++) {
				items[i].checked = false;
			}
		}

		setInterval(function () {
			now = moment().format("HH:mm:ss");
			if (now === midnight) {
				resetBoxes();
			}
		}, 1000);
	</script>
</body>
</html>
